<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Appointment Rejected</title>
</head>
<body>
<p>Dear Dr. <span th:text="${name}">[Doctor Name]</span>,</p>

<p>We regret to inform you that the appointment scheduled for <strong><span th:text="${appointmentDate}">[Appointment Date]</span></strong> with the patient <strong><span th:text="${patientName}">[Patient Name]</span></strong> has been rejected.</p>

<p>Here are the details of the rejected appointment:</p>
<ul>
    <li><strong>Date:</strong> <span th:text="${appointmentDate}">[appointmentDate]</span></li>
    <li><strong>Start Time:</strong> <span th:text="${startTime}">[Start Time]</span></li>
    <li><strong>End Time:</strong> <span th:text="${endTime}">[End Time]</span></li>
</ul>

<p>If you have any questions or need further clarification, please don't hesitate to reach out.</p>

<p>Best regards,</p>
<p><strong>Medica</strong></p>
</body>
</html>